.suggestion {
  margin-left: 2px;
  margin-right: 2px;
  text-decoration-line: underline;
  font-weight: 600;
}
.suggestion > span {
  color: blue;
}
.suggestion:hover,
.suggestion:active {
  cursor: pointer;
}
/* 
.xIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}
.xIcon:hover,
.xIcon:active {
  cursor: pointer;
}
*/
.biasItem {
  border-top: 3px solid #ffb0f2;
}

.slickContainer > button::before {
  color: black;
}
.slickContainer > button.slick-prev {
  left: -10px;
  z-index: 1;
}
.slickContainer > button.slick-next {
  right: -10px;
}

.ignoreButton {
  color: blue;
  text-decoration: underline;
}

.biasWord {
  align-self: center;
  font-weight: bold;
}
.biasLabel {
  background-color: #d6d2d2;
  display: inline;
  font-size: 12px;
}
.genderSpecific {
  text-decoration: underline;
}
