.suggestion {
  margin-left: 2px;
  margin-right: 2px;
  display: block;
}
.suggestion:hover,
.suggestion:active {
  cursor: pointer;
  text-decoration-line: underline;
}

.xIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}
.xIcon:hover,
.xIcon:active {
  cursor: pointer;
}

.biasItem {
  border-top: 3px solid #f1c40f;
}
