.suggestion {
  margin-left: 2px;
  margin-right: 2px;
  display: block;
}
.suggestion:hover,
.suggestion:active {
  cursor: pointer;
  text-decoration-line: underline;
}

.xIcon {
  position: absolute;
  right: 3px;
  top: 2px;
}
.xIcon:hover,
.xIcon:active {
  cursor: pointer;
}
